/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Jan-2021, 15:13:09
    Author     : User
*/

                .grid-container {
                  display: grid;
                  grid-template-columns: auto auto;
                  background-color: #FFFFF;
                  padding: 10px;
                }
                .grid-item {
                  background-color: rgba(255, 255, 255, 0.8);
                  border: 2px solid rgba(0, 0, 0, 0.8);
                  border-color: #25A2C3;
                  padding: 20px;
                  font-size: 14px;
                  font-color: #FFFFF;
                  text-align: left;
                }