/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Jan-2021, 13:25:30
    Author     : 40157886
*/
.showData ul {
    list-style-type: none;
}

.showData .city {
    font-family: FontAwesome;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #25A2C3;
}

.showData .temp {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-weight: normal;
    color: #25A2C3;
}

.showData .desc {
    font-size: 25px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-transform: capitalize;
}
.showData .wind {
    font-size: 25px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.btn {
    padding: 10px 30px;
    margin: 10px 0px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}